#content {
    margin: 0 auto;
    width: 900px; 
  } 

  #masthead{
    width: 80%;
} 

#title{
text-align: center;
} 

#byline{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    } 