#content {
    margin: 0 auto;
    width: 900px; 
  } 

  #masthead{
    width: 100%;
} 

#pic1{
    width: 50%;
} 

#pic2{
    width: 50%;
} 

#pic3{
    width: 50%;
} 

#gif{
    width: 50%;
} 


#title{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
} 

#byline{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    } 

#article{
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: normal
} 

#blockquote{
    font-family: cursive, fantasy;
    font-size: 22px;
    font-style: italic;
    color: blue
}