#pagewrapper{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    margin-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
    }


 #masthead{
    width: 100%;
 } 
    
#title{
    text-align: center;
    font-family: "Lucida bright", serif;
    font-size: 40px;
    font-style: regular;
} 


#subtitle1{
    font-family: "Lucida bright", sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 0.5;
} 

#subtitle2{
    font-family: "Lucida bright", sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 0.5;
} 

#subtitle3{
    font-family: "Lucida bright", sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 0.5;
} 

#subtitle4{
    font-family: "Lucida bright", sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 0.5;
} 

p {
    line-height: 1.75;
    font-size: 16px;
    font-style: regular;
}


#blockquote{
    font-family: Lucida bright, fantasy;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    float: right;
    padding: 0 20px 20px 0;
    line-height: 0.5;
}


#glacier1{
    width: 40%;
    float: left;
    padding: 0 20px 20px 0;
} 

#glacier1 img{
    width: 100%
}

#glacier2{
    width: 40%;
    float: left;
    padding: 0 20px 20px 0;
} 

#glacier2 img{
    width: 100%
}

#sunset{
    width: 30%;
    float: right;
    padding: 0 20px 20px 0;
} 

#sunset img{
    width: 100%
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1B2694;
    color: white;
    text-align: center;
  }


 #glacier.gif{
    float: right;
    padding: 0 20px 20px 0;
    }

    #tools{
        width: 30%;
        float: right;
        padding: 0 20px 20px 0;
    } 

    #tools img{
        width: 100%
    }
    