#pagewrapper{
    max-width: 1000px;
    width: 60%;
    margin:0 auto;
    margin-bottom: 50px;
    }


    #masthead{
        width: 90%;
    } 
    
#title{
    text-align: center;
    font-family: "Lucida bright", serif;
    font-size: 40px;
    font-style: regular;

} 


#subtitle{
    font-family: "Lucida bright", sans-serif;
    font-size: 22px;
    font-style: italic;

} 


p {
    line-height: 1.75;
    font-size: 16px;
    font-style: regular;
}


#blockquote{
    font-family: cursive, fantasy;
    font-size: 22px;
    font-style: italic;
    color: red
}